.chat-input {
  background-color: white;
  height: 65px;
  padding: 8px 20px;
}

.chat-input > form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-input > form > input {
  bottom: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px
}

.chat-input > form > button {
  display: none !important;
}