.login {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container {
  text-align: center;
  background-color: white;
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 50px;
}

.login__container > h1 {
  padding: 20px 0px;
}

.login__container > img {
  height: 100px;
  width: 100px;
}

.login__container > button {
  background-color: #1e9611;
  font-size: 12px;
  color: white;
  cursor: pointer !important;
}

.login__container > button:hover {
  opacity: 0.8;
  background-color: #1e9611;
}