.login {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 50px;
}

.login__container--header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container--header > h1 {
  padding-left: 10px;
}

.login__container > span {
  padding-bottom: 20px;
  color: #454245;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
}

.login__container > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  max-width: 700px;
  text-align: center;
  padding: 20px 0px;
}

.login__container > button {
  background-color: #fff;
  border: 2px solid #4285f4;
  color: #4285f4;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer !important;
}

.MuiButton-label > img {
  height: 18px;
  width: 18px;
  margin-right: 12px;
}

.login__container > button:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  background-color: white;
  cursor: pointer !important;
}