.message {
  padding: 8px 20px;
  display: flex;
}

.message > img {
  width: 36px;
  height: 36px;
}

.message__detail {
  width: 100%;
  padding-left: 10px;
}

.message__detail--header {
  display: flex;
  align-items: center;
}

.message__detail--header > strong {
  font-size: 15px;
}

.message__detail--header > span {
  font-size: 12px;
  color: #616061;
  padding-left: 10px;
}

.message__detail--body > p {
  font-size: 15px;
}

