.profile {
  flex: 0.3;
  width: 400px;
  height: 100%;
  background-color: white;
  border-left: 1px solid lightgray;
  text-align: center;
}

.profile__body {
  padding: 15px;
}

.profile__header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.profile__header > .MuiSvgIcon-root {
  cursor: pointer !important;
  opacity: 0.5;
}

.profile__header > .MuiSvgIcon-root:hover {
  border-radius: 3px;
  background-color: rgb(245, 244, 245);
  
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16);
}

.profile__header > strong {
  font-size: 16px;
}

.profile__avatar {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.profile__avatar > .MuiAvatar-root {
  width: 256px;
  height: 256px;
  border-radius: 6px !important;
}

.profile__name {
  padding-bottom: 20px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0px;
}

.profile__info > .label {
   color: grey;
   font-weight: bold;
   font-size: 13px;
   padding-bottom: 5px;
}

.profile__info > .email {
  color: #1264A3;
  cursor: pointer;
  text-decoration: none;
}

.profile__info > .email:hover {
  text-decoration: underline;
}
