.sidebar {
  background-color:  var(--primary-color);
  color: white;
  max-width: 264px;
  min-width: 230px;
  height: 100%;
}

.sidebar > .sidebar__header {
  padding: 20px 50px 20px 16px;
  position: relative;
  border-top: 1px solid #49274b;
  border-bottom: 1px solid #49274b;
}

.sidebar__info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__create--icon {
  background-color: white;
  color:  var(--primary-color);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 999px;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}